@import 'tailwindcss';


.animate-gradient {
    background: linear-gradient(135deg, #8a76ff, #5e43ff, #f9fafb);
    background-size: 200%,200%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: gradient 5s ease infinite;
}

@keyframes gradient {
    0% {
    }
    100% {
        background-position: 0% 0%;
    }
    50%{
        background-position: 100% 100%;
    }
}